[submodule "jbehave-core"]
	path = jbehave-core
	url = https://dschneller@github.com/dschneller/jbehave-core.git
[submodule "plugin/jbehave-eclipse-plugin"]
	path = plugin/jbehave-eclipse-plugin
	url = https://dschneller@github.com/dschneller/jbehave-eclipse-plugin.git
[submodule "plugin/jbehave-eclipse-plugin-parent"]
	path = plugin/jbehave-eclipse-plugin-parent
	url = https://dschneller@github.com/dschneller/jbehave-eclipse-plugin-parent.git
[submodule "plugin/jbehave-eclipse-plugin.tests"]
	path = plugin/jbehave-eclipse-plugin.tests
	url = https://dschneller@github.com/dschneller/jbehave-eclipse-plugin.tests.git
[submodule "junit-monitor/jbehave-junit-monitor"]
	path = junit-monitor/jbehave-junit-monitor
	url = https://dschneller@github.com/dschneller/jbehave-junit-monitor.git
[submodule "plugin/jbehave-eclipse-plugin.feature"]
	path = plugin/jbehave-eclipse-plugin.feature
	url = https://dschneller@github.com/dschneller/jbehave-eclipse-plugin.feature.git
[submodule "plugin/jbehave-eclipse-plugin.updatesite"]
	path = plugin/jbehave-eclipse-plugin.updatesite
	url = https://dschneller@github.com/dschneller/jbehave-eclipse-plugin.updatesite.git
